@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Hello everyone,
<br />
    Uhmm Let me think about what would be good to post here.  Will update when I get some more goood information about what I would like to say about myself.
    <br />
    <br />
    Thank you,
    <br />
    Steven Underwood
</p>
